<h1>New Room</h1>

<%= form_for :chat_room, url: chat_rooms_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>