<% if !user_signed_in? %>
    <h1>Welcome</h1>
    <p>To use colearn you have to be signed in so go go:</p>
    <p>
      <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-lg active" %> or
      <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-lg active"%>
    </p>

<%else%>

    <h1>Welcome</h1>
    <p>To use our rooms go:</p>
    <p><%= link_to "Rooms", chat_path, :class => "btn btn-primary btn-lg active" %></p>

<%end%>