<h1>Vos Chat room : <%= @room %> </h1>
<div class="chat container" >

  <div class="chat-message-box">

    Not yet Connected :/

  </div>
  <textarea disabled> </textarea>
</div>



<script defer>
    var socketIourl = 'http://rarcoo.synology.me:3001/socket.io/socket.io.js'

    chatFunction = function(){

        console.log("entering chat function")
        var name = "<%= current_user.username %>";
        var socket;
        var textarea = $('.chat textarea');
        var messagebox = $('.chat-message-box')
        var room = <%= @room %>

                messagebox[0].innerHTML='';
        textarea.removeProp('disabled');

        try {

            socket = io.connect('http://rarcoo.synology.me:3001');

        } catch (err) {

            console.log(err);

        }


        if(socket !== undefined){

            console.log("fetch-all-posts-request")
            socket.emit('fetch-all-posts-request',{room:room});

            socket.on('fetch-all-posts-output', function(data){

                console.log('init fetch: '+data.length);
                for(i=data.length-1;i>=0;i--){

                    messagebox.append('<div><span class ="chat-userName">'+data[i].name+':</span><p class="">'+data[i].text+'</p></div>');

                }

                messagebox.animate({ scrollTop: 2000 },messagebox.height);

            });

            socket.on('output',function(data){

                console.log(data);

                messagebox.append('<div><span class ="chat-userName">'+data.name+':</span><p class="">'+data.text+'</p></div>');
                messagebox.animate({ scrollTop: 2000 },messagebox.height);

            });

            textarea.keyup(function(e){

                if(e.which == 13 && e.shiftKey == false){

                    e.preventDefault();

                    var data = this.value.slice(0,-1);
                    this.value='';
                    if (data.length!=0 && !data.match(/^\s*$/)){

                        console.log({ name:name , text:data});
                        socket.emit('chat-input',{ name:name , text:data, room:room});

                    }
                }

            })

        } else {

            console.log('undefined socket');

        }

    }

    scriptGetter = function(){

        $.getScript(socketIourl)
                .done(function(){

                    console.log('dynamicaly loaded')
                    chatFunction();

                })
                .fail(function(){
                    console.log(" Failed To load Script.. Retrying")
                    setTimeout(function(){ scriptGetter(); },500)
                })

    }

    scriptGetter();

</script>