// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat{

  width : 500px;

}
.chat-message-box{

  height: 500px;

}

.chat textarea{

  width : 100%;

}

.chat-userName {

  color: green;

}

.chat-message-box{

  overflow-y: scroll;

}
