// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resourceContainer{

  width:10%;
  position:absolute;
  left:10px;
  top: 10px;
  height:calc( 100% - 20px);
  clear:both;
  min-width: 165px;
  overflow-x: hidden;
  overflow-y: scroll;

}
#resourceContainer form {

  margin:5px;

}

  #resourceContainer ul{ padding:5px; }
  #resourceContainer ul li{

    display:block;
    list-style-type: none;
    padding:10px;
    border: 1px solid lightgrey;
    border-bottom: none;
    cursor:pointer;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;

  }
  #resourceContainer ul li:last-child{

    border: 1px solid lightgrey;

  }

    #resourceContainer ul li a{ display:block}
    #resourceContainer ul li:hover {background:lightgrey}
    #resourceContainer ul li h5 { color: #428bca}
    #resourceContainer ul li.selected-web-resource{ background-color:aliceblue }

#resource-input-url{

  margin:10px;

}
#resource-add-button{

  margin:0px 10px 10px 10px;

}
#resourceContainer > p{

  margin:10px;

}

.resource_image{

  max-width: 100%;
  height:auto;

}

.chat{

  width:320px;
  height: 320px;
  cursor: move;

}
.chat > span {

  position: absolute;
  top : 0;
  right: 0;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */

}

#chat-box {

  position:absolute;
  bottom:10px;
  right:10px;

}

  #chat-box h4{

    margin-left: 15px;

  }

.chat textarea{

  display: block;
  width: 100%;
  width: calc( 100% - 4px);
  height : 20%;
  height : calc(20% - 4px);
  resize: none;
  margin:2px;

}

.chat-message-box{

  overflow-y: scroll;
  height: calc(74% - 4px - 20px);
  margin-top: 2px;
  padding: 8px;

}
  .chat-message-box div{

    clear: both;
    width:95%;

  }

  .chat-userName {

    padding-top: 5px;
    color: green;
    display:block;
    float: left;
    margin-right: 1.5%;

  }

  .chat-message-box p{

    display: block;
    border-radius:10px;
    background-color: #f5f5f5;
    padding: 5px 10px 5px 10px;
    float:left;
    max-width: 90%;

  }

#room-menu{

  text-align : center;
  list-style: none;

}
#room-menu li{
  display:inline-block;
}
#room-menu li > *{
  display:inline-block;
  padding:10px;
}

body,html {

  height: 100%;

}

#room-main-frame{

  width : calc(100% - 220px);
  height: calc(100% - 60px);
  margin-left:210px;

}

// Highlight control
#room-highlight-controls {

  vertical-align: middle;
  position:absolute;
  left:210px;
  height: 23px;
  top: 28px;
  padding: 0 5px;
  cursor:pointer;
  color:#aaaaaa;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;

}

  #room-highlight-controls :hover{ color:#222222 }